<ion-view view-title="Search">
  <ion-content>
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" onchange="doSomething()"/>
          </label>
      </div>
      <div class="list">
          <ion-item class="item item-thumbnail-left" href="#">
            <img src="">
            <h2></h2>
            <p></p>
          </ion-item>
      </div>
  </ion-content>
</ion-view>
