<ion-view view-title="Creez votre projet">
      <ion-content>
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Titre">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description courte (200 caracteres max)">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description">
                </label>
                <label class="item item-input">
                    <input type="file" placeholder="Image">
                </label>
                <label class="item item-input">
                    <input type="email" placeholder="Adresse email">
                </label>
            </div>
            <div class="padding">
                <button class="button button-block button-positive">
                    Create
                </button>
            </div>
      </ion-content>
</ion-view>