<ion-view view-title="Créez votre projet">
  <ion-content>
    <form ng-submit="createProject()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Titre" ng-model="projectData.title" required=true>
        </label>
        <label class="item item-input">
          <textarea placeholder="Description courte (200 caracteres max)" ng-model="projectData.short" required=true maxlength=200 class="short-desc"></textarea>
        </label>
        <label class="item item-input">
          <textarea placeholder="Description" ng-model="projectData.description" required=true class="description"></textarea>
        </label>
        <label class="item item-input">
          <input type="file" placeholder="Image" ng-model="projectData.image">
        </label>
        <label class="item item-input">
          <input type="email" placeholder="Adresse email" ng-model="projectData.email">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">
          Créer !
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
