<ion-view view-title="Chercher un projet">
  <ion-content>
    <div class="list list-inset">
      <form ng-submit="searchProject()">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="projectData.title"/>
        </label>
        <button class="button button-block button-positive" type="submit">Go</button>
      </form>
    </div>
    <div class="list">
      <ion-item class="item item-thumbnail-left" ng-repeat="project in projects" href="#/app/projects/{{project.id}}">
        <img src="http://labelo.fr:3000/projects/{{project.id}}/picture">
        <h2>{{project.title}}</h2>
        <p>{{project.short}}</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
